{% load custom_tags %}

{% if about %}
    <section class="section"> 
        <div class="about white">
            <div class="about-description">
                <h2 class="about-heading">{% if lang == "ru" %}О БЛОГЕ{% elif lang == "uz" %}BLOG HAQIDA{% endif %}</h2>
                {# class for p elem is 'about-text' #}
                {{ about.blog_about|safe }}
            </div>

            <div class="about-description">
                <h2 class="about-heading">{% if lang == "ru" %}НАША ЦЕЛЬ{% elif lang == "uz" %}BIZNING MAQSADIMIZ{% endif %}</h2>
                {# class for p elem is 'about-text' #}
                {{ about.blog_goals|safe }}
            </div>
        </div>
    </section>
{% endif %}