{% load static %}

<footer class="section">
    <div class="footer">
        <div class="footer-block">
            <img class="footer-logo" src="{% static 'images/logo.svg' %}" alt="">
            <p class="footer-logo-sub">Блог о здоровье, здоровом образе жизни</p>
        </div>

        <div class="footer-block footer-links">
            <a class="footer-link" href="/">Об авторе</a>
            <a class="footer-link" href="/">Сотрудничайте с нами</a>
            <a class="footer-link" href="/">Используемые источники</a>
            <a class="footer-link" href="">Условия использования</a>
        </div>

        <div class="footer-block">
            <p class="footer-link no-hov">Свяжитесь со мной:</p>
            <a class="footer-email" href="/">tabibauz@gmail.com</a>
        </div>
        
        <div class="footer-block">
            <p class="footer-link no-hov">Социальные сети проекта</p>
            <div class="social-icons">
                <a href="/"><img src="{% static 'images/fb-icon.svg'%}" alt="Facebook icon"></a>
                <a href=""><img src="{% static 'images/insta-icon.svg'%}" alt="Instagram icon"></a>
                <a href=""><img src="{% static 'images/tg-icon.svg'%}" alt="Telegram icon"></a>
            </div>
        </div>
    </div>
</footer>