{% load static %}
{% load custom_tags %}

<section class="section">
    <header class="header light-pink">
        <div class="navbar rel">
            <a class="logo" href="/">
                <img src="{% static 'images/logo.svg' %}" alt="Tabiba logotype">
            </a>

            {% nav_data %}

            <div class="misc">
                <div class="search-controls"></div>

                <div class="lang-controls">
                    <a class="lang-item active-lang" href="/ru">Ру</a>
                    <a class="lang-item" href="/uz">O'z</a>
                </div>
            </div>
        </div>
    </header>
</section>