{% load static %}
{% load custom_tags %}

<section class="section">
    <header class="header light-pink">
        <div class="navbar rel">
            <a class="logo" href="/">
                <img src="{% static 'images/logo.svg' %}" alt="Tabiba logotype">
            </a>

            {% nav_data url=request.path %}

            <div class="misc">
                <div id="search-control" class="search-controls">
                    <img src="{% static 'images/search.png' %}" alt="Search icon">
                </div>

                <form id="search-form" class="search-form" action="{% url 'posts:search-for' %}"">
                    <input class="search-input" type="text" name="q" placeholder="{% if 'uz' not in request.path %}Поиск{% else %}Qidiruv{% endif %}">
                </form>

                <div class="lang-controls">
                    <a class="lang-item active-lang" href="/ru">Ру</a>
                    <a class="lang-item" href="/uz">O'z</a>
                </div>
            </div>
        </div>
    </header>
</section>