{% load custom_tags %}

<nav class="nav">
    <ul class="nav-items">
        {% if categories %}
            {% for cat in categories %}
                <li class="nav-item" ><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>            
            {% endfor %}                         
        {% endif %}
    </ul>

    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-items_mob">
        {% for cat in categories %}
            <li class="nav-item" ><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>            
        {% endfor %}

        <div class="misc">
            <div class="search-controls"></div>

            <div class="lang-controls">
                <a class="lang-item active-lang" href="/ru">Ру</a>
                <a class="lang-item" href="/uz">O'z</a>
            </div>
        </div>
    </ul>
</nav>