{% load custom_tags %}

<section class="section">
    <div class="starter">
        <h2 class="starter-heading">Если вы в первый раз у нас в гостях, рекомендуем начать здесь</h2>

        <div class="starter-blocks">
            <div class="starter-block block-0">
                <div class="starter-block-ol"></div>
                <a href="/posts/post-detail"><h3 class="starter-block-heading">Все что нужно знать об инфаркте и инсульте</h3></a>
            </div>

            <div class="starter-block block-1">
                <div class="starter-block-ol"></div>
                <a href="/"><h3 class="starter-block-heading">Все что нужно знать о сахарном диабете</h3></a>
            </div>

            <div class="starter-block  block-2">
                <div class="starter-block-ol"></div>
                <a href="/"><h3 class="starter-block-heading">Здоровый Образ Жизни — что это?</h3></a>
            </div>

            <div class="starter-block block-3">
                <div class="starter-block-ol"></div>
                <a href="/"><h3 class="starter-block-heading">Здоровье женщины до и после 40</h3></a>
            </div>
        </div>
    </div>
</section>