{% extends 'layouts/base.html' %}
{% load static %}
{% load themes_extras %}

{% block content %}
    {% include 'includes/header_slim.html' %}
    
    <section class="section">
        <div class="article-detail">
            <div class="article-content">
                <h1 class="article-detail-heading">{{ page.title }}</h1>     

                <div class="article-body">
                    {{ page.full_content|safe }}
                </div>
                
                <div class="related-articles">
                    <h3 class="article-heading secondary">Материалы по теме</h3>     
                    <div class="regular-articles">
                        <article class="regular-article">
                            <img src="{% static 'images/regular-0.jpg' %}" alt="">
                            <div>
                                <a href="/"><p class="category regular">ЖИЗНЬ</p></a>
                                <a href="/"><h3 class="article-heading secondary">Здоровой образ жизни для женщин</h3></a>
                                <p class="regular-article-brief">Здоровье - залог реализации личности, достижения целей и источник счастья. Для женщины это еще и необходимый фундамент...</p>
                            </div> 
                        </article>
        
                        <article class="regular-article">
                            <img src="{% static 'images/regular-1.jpg' %}" alt="">
                            <div>
                                <a href="/"><p class="category regular">ЖИЗНЬ</p></a>
                                <a href="/"><h3 class="article-heading secondary">Здоровой образ жизни для женщин</h3></a>
                                <p class="regular-article-brief">Здоровье - залог реализации личности, достижения целей и источник счастья. Для женщины это еще и необходимый фундамент...</p>
                            </div> 
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>  

    {% include 'includes/footer.html' %}

{% endblock content %}