{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}



{% block content %}
    
    {% include 'includes/header_slim.html' %}

    <section class="section">
        <div class="article-detail">
            <div class="article-content">
                <h1 class="article-detail-heading">{{ post.title }}</h1>    
                
                {% if post.image %}
                    <img src="{{ post.main_image_url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="article-meta-info">
                    <p class="article-detail-date">{{ post.created }}</p>

                    {% if post.themes %}
                        <div class="article-detail-themes">
                            {% for theme in post.themes.all %}
                                <a class="article-detail-theme" href="{{ theme.get_absolute_url }}">{{ theme.title }}</a>
                            {% endfor %}
                        </div>    
                    {% endif %}
                </div>   
                <div class="article-body">
                    {{ post.full_content|safe }}
                </div>
                
                {% include 'includes/related_posts.html' %}
            </div>
        </div>
    </section>  

    {% include 'includes/footer.html' %}

{% endblock content %}